@import '~common/stylus/variable.styl'
.editor-wrapper
  .emojis-btn
    position relative
    display inline-block
    font-size: 0
    .emojis-bar
      position absolute
      top 0%
      left 0
      transform translateY(-101%)
      width 50vw
      padding 2vw 5vw
      white-space pre-wrap
      background $color-highlight-background
      outline $color-dialog-background
      font-size: 0
      // word-break break-all
      // text-align justify
      &::after, &::before
        font-size 0
