@font-face {
  font-family: 'iconfont';  /* project id 1419035 */
  src: url('//at.alicdn.com/t/font_1419035_459fxo33x6x.eot');
  src: url('//at.alicdn.com/t/font_1419035_459fxo33x6x.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1419035_459fxo33x6x.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1419035_459fxo33x6x.woff') format('woff'),
  url('//at.alicdn.com/t/font_1419035_459fxo33x6x.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1419035_459fxo33x6x.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}